<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>222073303579-qe0mmjadr2b9dlk8ioif4v65tn0oq9o1.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.222073303579-qe0mmjadr2b9dlk8ioif4v65tn0oq9o1</string>
	<key>API_KEY</key>
	<string>AIzaSyBBmrV5LkjmY4XdDxFBD0juMFkba6VyA2s</string>
	<key>GCM_SENDER_ID</key>
	<string>222073303579</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.sdgpFirst</string>
	<key>PROJECT_ID</key>
	<string>fir-flutter-a3903</string>
	<key>STORAGE_BUCKET</key>
	<string>fir-flutter-a3903.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:222073303579:ios:f4238835c60cea903cbebe</string>
</dict>
</plist>